In [1]:
import pandas as pd

In [58]:
df = pd.read_csv("./junior_1_senior_1_manager_2_director_2.csv")

In [59]:
df["postion"] = df["handler"].apply(lambda arr: arr.replace("'",'').replace("]",'').split(',')[2])

In [60]:
df.head()

,priority,caller,call_time,status,handler,handle_time,postion
0,low,"[79, 'Lennard']",2019-05-27 22:44:42.744796,deallocated,"[1, 'Rosaline', 'junior']",2019-05-27 22:44:44.782217,junior
1,high,"[17, 'Marybelle']",2019-05-27 22:44:42.970015,deallocated,"[3, 'Elsi', 'manager']",2019-05-27 22:44:44.982746,manager
2,low,"[32, 'Ned']",2019-05-27 22:44:43.901254,deallocated,"[2, 'Twyla', 'senior']",2019-05-27 22:44:45.985611,senior
3,high,"[68, 'Lucretia']",2019-05-27 22:44:45.357208,deallocated,"[3, 'Elsi', 'manager']",2019-05-27 22:44:47.397083,manager
4,high,"[44, 'Mariann']",2019-05-27 22:44:46.124517,deallocated,"[5, 'Beatriz', 'director']",2019-05-27 22:44:48.204805,director

In [61]:
results = df[["postion","priority","caller"]].groupby(["postion","priority"]).count()

                    caller
postion   priority
 director high           4
 junior   low           11
 manager  high           9
          low           10
 senior   low           10

In [ ]:
"""
from the result above we conclude that managers were under pressure because they were
 handling low-priority and high-priority calls and the lack of juniors and seniors was a huge
 affeccts

"""

In [62]:
results

                    caller
postion   priority
 director high           4
 junior   low           11
 manager  high           9
          low           10
 senior   low           10

In [63]:
df = pd.read_csv("./junior_10_senior_5_manager_3_director_1.csv")

In [64]:
df["postion"] = df["handler"].apply(lambda arr: arr.replace("'",'').replace("]",'').split(',')[2])

In [65]:
df.head()

,priority,caller,call_time,status,handler,handle_time,postion
0,low,"[77, 'Garald']",2019-05-27 22:53:00.103945,deallocated,"[1, 'Rosaline', 'junior']",2019-05-27 22:53:02.134233,junior
1,low,"[46, 'Sampson']",2019-05-27 22:53:01.250394,deallocated,"[2, 'Twyla', 'junior']",2019-05-27 22:53:03.335935,junior
2,high,"[44, 'Mariann']",2019-05-27 22:53:02.182649,deallocated,"[16, 'Kyrstin', 'manager']",2019-05-27 22:53:04.243237,manager
3,high,"[62, 'Sergei']",2019-05-27 22:53:02.462152,deallocated,"[17, 'Emmott', 'manager']",2019-05-27 22:53:04.546896,manager
4,low,"[92, 'Hamid']",2019-05-27 22:53:03.547727,deallocated,"[1, 'Rosaline', 'junior']",2019-05-27 22:53:05.554478,junior

In [66]:
results = df[["postion","priority","caller"]].groupby(["postion","priority"]).count()

In [67]:
results

                    caller
postion   priority
 director high           2
 junior   low           33
 manager  high          27

In [ ]:
"""
    after assigning 10 juniors, they were able to manage all the low-priority calls by themselves
    :D
"""